body {
  margin: 0; /* all 4 sides will have 0px */
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 5.625rem; /*90px = 5.625rem */
  margin: 20px auto 0 auto;
  font-family: 'Sacramento', cursive;
  /*margin: 0 auto;left & right will be 0 and top & bottom will be auto*/
  color: #fa8072/*#66BFBF*/;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem; /*40px =2.625rem*/
  color: #fa8072/*#66BFBF*/;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #fb7b6b/*#11999E*/;
}

hr {
  border-style: dotted;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
  border-width: 10px;
  border-color: #f3d4d4 /*#f8eeee#EAF6F6*/;
}

p {
    line-height: 2;
}

a {
  color: #fb7b6b/*#11999E*/;
  font-family: 'Merriweather', sans-serif;
  padding: 10px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color:  #ffffdd /*#f6eec7 #ecfbfc*/;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.intro {
  width: 30%;
  margin: auto; /*will center it*/
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto; /*will center it*/
  text-align: left;
}

.bottom-container{
  background-color: #ffffdd /*#66BFBF*/;
  margin: 0;
  padding: 50px 0 20px;
}


.balloon {
  height: 350px;
  width: 400px;
}

.footer-link {
}

.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: grey;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
  width: 120px;
}

.top-cloud {
  position: absolute;
  right:300px;
  top: 40px;
  width: 120px;
}

.profile-pic {
  height: 200px;
}

.design-development {
  width: 25%;
  float: left;
  margin-right: 30px; /*adds space between text & image */
}

.data-science {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
	/*box-shadow:inset 0 1px 0 0 #f8eeee;*/
	background:linear-gradient(to bottom, #fb7b6b 5%, #fa8072 100%);
	background-color:#f8eeee;
	border-radius:6px;
	border:1px solid #fa8072;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 1px 0 #fa8072;
}
.btn:hover {
	background:linear-gradient(to bottom, #fa8072 5%, #fb7b6b 100%);
	background-color:#fa8072;
}
.btn:active {
	position:relative;
	top:1px;
}
